{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1>{{ project.title }}</h1>
    {% for tag in project.tags.all %}
        <span class="badge rounded-pill bg-primary"><a href="{% url 'tag' tag.slug %}" style="color: white; text-decoration: none;">{{ tag }}</a></span>
    {% endfor %}
    <br>
    <img src="{{ project.image.url }}" style="margin-left: 200px;"/>
    <br>
        
    <em>{{ project.description }}</em>

    {{ form.as_p }}


    {% for review in reviews %}
        {{review.owner}}

    {% endfor %}

    <a href="{% url 'delete-project' project.id %}">Delete project</a>

</main>

{% endblock %}

    