<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background: #030303;">
    <div class="container-fluid">

        <a class="navbar-brand" href="#" style="color:red; margin-left: 4%;"><strong>hh.ru</strong></a>

        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

            <li><a href="{% url 'profiles' %}" class="nav-link px-2 text-secondary">Programmers</a></li>
            <li><a href="{% url 'projects' %}" class="nav-link px-2 text-white">Projects</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="#" class="nav-link px-2 text-white">Messages</a></li>
            <li><a href="{% url 'account' %}" class="nav-link px-2 text-white">My Profile</a></li>
            {% endif %}

            </ul>
        

            <div class="d-flex" style="margin-right: 4%;">
            {% if request.user.is_authenticated %}
                <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'logout' %}" style="text-decoration:none; color: #FFFFFE;">LogOut</a></button>
            {% else %}
                <button type="button" class="btn btn-outline-light me-2"><a href="{% url 'login' %}" style="text-decoration:none; color: #FFFFFE;">LogIn</a></button>
                <button type="button" class="btn btn-warning"><a href="{% url 'register' %}" style="text-decoration:none; color: #FFFFFE;">Register</a></button>
            {% endif %}
            </div>

        </div>
    </div>
</nav>
</header>